.main-content-board {
    background-color: #B04632;
    width: 100vw;
    height: 100vh;
    padding: 8px;
}

.main-content-board-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-content-board-header *:not(:last-child) {
    margin-right: 16px;
}

.main-content-board-header-text {
    color: #FFFFFF;
    font-size: 18px;
    line-height: 32px;
    margin-left: 8px;
}

.star-icon, .close-board-icon {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 3px;
    cursor: pointer;
    height: 32px;
}

.star-icon img, .close-board-icon img {
    margin: 8px;
}

.columns-board {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.columns-board .list-content-item:not(:last-child) {
    margin-right: 8px;
}

.list-content-item {
    background: rgba(255, 255, 255, 0.24);
    border-radius: 3px;
    width: 272px;
    padding: 10px;
    color: #FFFFFF;
    cursor: pointer;
}

.add-item-list p {
    margin: 0;
    font-size: 14px;
}

.add-item-list p::before {
    margin-right: 6px;
    content: '\002B';
    font-size: 17px;
}

.active-column {
    color: #172B4D;
    background: #EBECF0;
    font-size: 14px;
}

.active-column-header h2 {
    margin: 0;
    font-size: 14px;
}

.active-column-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.active-column-items-container div:not(:last-child) {
    margin-bottom: 8px;
}

.active-column-item {
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
    border-radius: 3px;
    padding: 4px 8px;
}

.active-column-item p {
    margin: 0;
}

.card-item-input {
    width: 100%;
}

.save-card-item-options-group {
    vertical-align: center;
    margin-top: 8px;
}

.save-card-item-btn {
    margin-top: 0 !important;
    margin-right: 8px;
}


.modal {
    background-color: rgba(63, 63, 63, 0.8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal-content {
    background: #F4F5F7;
    width: 768px;
    padding: 15px 20px 30px;
    margin: 10% auto;
    position: relative;
    border-radius: 4px;
}

.modal-content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.modal-content-header span {
    margin-left: 40px;
    font-weight: bold;
    font-size: 16px;
}

.modal-content-header img {
    cursor: pointer;
}

.modal-element-title {
    font-weight: bold;
    font-size: 12px;
}

.modal-content-data {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.check-list-group {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 10px;
}

.modal-btn {
    margin: 0;
}

.modal-content-check-list-item-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.modal-content-label-item {
    display: inline-block;
    padding: 5px 30px 5px 5px;
    border-radius: 3px;
    color: #FFFFFF;
}

.modal-content-label-item:not(:last-child) {
    margin-right: 12px;
    margin-bottom: 5px;
}

.modal-content-labels {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.modal-content-description-text {
    margin-top: 9px;
    margin-bottom: 9px;
}

.modal-content-check-list-item-description:not(:last-child) {
    margin-bottom: 14px;
}

.red-label {
    background: #EB5A46;
}

.green-label {
    background: #61BD4F;
}

.yellow-label {
    background: #F2D600;
}

.purple-label {
    background: #C377E0;
}

.blue-label {
    background: #0079BF;
}

.orange-label {
    background: #FF9F1A;
}

.modal-content-option-label-color {
    width: 80px;
    border-radius: 3px;
    margin-right: 9px;
}

.modal-content-option-label-color::after {
    content: '.';
    visibility: hidden;
}

.modal-content-option-label-item-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modal-content-option-label-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px 5px;
}

.create-label-btn {
    text-align: center;
    width: 100%;
}

.modal-content-option-check-list-create {
    background: #EBECF0;
    border-radius: 3px;
    width: 100%;
    padding: 8px;
}

.btn-warning {
    background: rgba(235, 90, 70, 0.5);
    text-align: center;
    width: 100%;
    color: #172B4D;
}

.check-list-title {
    margin: 0;
    color: #172B4D;
    font-weight: bold;
    font-size: 12px;
}






